<manifest
    package="com.linkedin.android.testbutler.physical"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Normal permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <service
            android:name="com.linkedin.android.testbutler.ButlerService"
            android:exported="true"
            tools:ignore="ExportedService"/>

    </application>

</manifest>
